anyio==3.6.2
attrs==23.1.0
black==23.3.0
cachetools==5.3.0
certifi==2023.5.7
charset-normalizer==3.1.0
cli-exit-tools==1.2.3.2
click==8.1.3
cloudpickle==2.2.1
contourpy==1.0.7
cycler==0.11.0
dataclasses-jsonschema==2.16.0
deepdiff==6.3.0
docker==6.1.2
docker-image-py==0.1.12
fonttools==4.39.4
gitdb==4.0.10
GitPython==3.1.31
google-auth==2.18.0
h11==0.14.0
httptools==0.5.0
idna==3.4
isort==5.12.0
joblib==1.2.0
jsonpickle==3.0.1
jsonschema==4.17.3
kiwisolver==1.4.4
kubernetes==25.3.0
lib-detect-testenv==2.0.3
lib-programname==2.0.5
libcst==0.4.9
markdown-it-py==2.2.0
matplotlib==3.7.1
mdurl==0.1.2
modelos==0.1.3
mypy-extensions==1.0.0
numpy==1.24.3
oauthlib==3.2.2
ocifacts==0.0.9
opencontainers==0.0.14
ordered-set==4.1.0
packaging==23.1
pandas==2.0.1
pathspec==0.11.1
patsy==0.5.3
Pillow==9.5.0
platformdirs==3.5.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyflakes==3.0.1
Pygments==2.15.1
pyparsing==3.0.9
pyrsistent==0.19.3
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
PyYAML==6.0
regex==2023.5.5
removestar==1.3.1
requests==2.30.0
requests-oauthlib==1.3.1
rich==13.3.5
rsa==4.9
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
semver==2.13.0
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
starlette==0.24.0
statsmodels==0.14.0
threadpoolctl==3.1.0
toml==0.10.2
typing-inspect==0.8.0
typing_extensions==4.5.0
tzdata==2023.3
unimport==0.14.1
urllib3==1.26.15
uvicorn==0.20.0
uvloop==0.17.0
watchfiles==0.19.0
websocket-client==1.5.1
websockets==11.0.3
xdg==5.1.1
xgboost==1.7.5
